<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addition of two no</title>
</head>
<body>
    <form action="/submit" method="POST">
        Enter first num : <input type="text" name="n1">
        Enter second num : <input type="text" name ="n2">
        <input type="submit" value="submit">

        
    </form>
</body>
</html>