<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header')%>
    <h1 style="padding: 205px;">this is home page</h1>
    <%- include('../partials/footer')%>
</body>
</html>
